{% extends 'main/all.html' %}
{% load static %}


{% block content %}
<p class="hello1">Оставить отзыв об Ахмеде</p><br><br>
<p class="hello">Сначала расскажи о себе!</p>
<div class="form">
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div>
            <input name="email" required type="email" placeholder=" Почта">

            <input name="message" required type="text" placeholder=" Комментарий">

            <input type="submit" value="Отправить">
        </div>
    </form>
</div>

{% endblock %}