* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-style: 100%;
   line-height: 1;
   font-style: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style-type: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-style: inherit;
   font-weight: 400;
}

header{
   width:100%;
   height: 54px;
   text-align: right;
   background: black;
   position: relative;
}

header ul{
   position: absolute;
   right: 60px;
   top: 18px;
}

header ul li{
   margin: 0 40px 0 0;
   display: inline;
   font-size:18px;
   font-family: Arial, Helvetica, sans-serif;
}

header ul li:last-child{
      margin: 0 100px 0 0;
}

header ul li a{
   color: white;
}

footer{
   height: 55px;
   width: 100%;
   border-top: 1px solid;
   position: absolute;
   left:0;
   bottom:0;
}

body{
   position: relative;
   height: auto;
   min-height: 100%;
}

img{
   width: 250px;
}

.grid {
   display: grid;
   grid-template-columns: 300px 300px 300px;
   justify-content: center;
}

.grid .product{
   padding: 40px 20px 20px 20px;
}

.product div{
   overflow: hidden;
   width: 250px;
   height: 180px;
   margin-bottom: 40px;
}

.product p{
   font-size:18px;
   font-family: Arial, Helvetica, sans-serif;
   margin-top: 10px;
   text-align: center;
}

.main{
   padding-bottom: 100px;
}

.title{
   margin: 50px 0 0 330px;
   font-weight: 500;
   font-size:25px;
   font-family: Arial, Helvetica, sans-serif;
}

.form{
      margin: 30px 0 0 330px;
      width: 400px;
}

.form .email{
   width: 300px;
   border: 1px solid;
   height: 30px;
}

.form textarea{
   width: 300px;
   border: 1px solid;
   height: 250px;
   margin: 10px 0;
}

.form .submit{
   width: 100px;
   border: 1px solid;
   height: 30px;
}